<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name=”viewport” content=”width=device-width, initial-scale=1″ />
  <link rel="stylesheet" href="./style.css" type="text/css" />
  <title>拖拽小demo</title>
  <style></style>
</head>

<body>
  <div class='dragPage' id='dragPage'>
    <div class="dragPage__content">
      <!-- 冰箱 and 花花 -->
      <div class="left">
        <div class="refrigerator">
          <img class="refrigerator_bg" src='./img_freezer@2x.png' />

          <div :id="areaType.COLD" class="area area_clod" @drop="drop" @dragover="allowDrop">
          </div>
          <div :id="areaType.VARIABLE" class="area area_variable" :class="{ 'mask': variableList.length > 0 }"
            @drop="drop" @dragover="allowDrop"></div>
          <div :id="areaType.FROZEN" class="area area_frozen" :class="{ 'mask': frozenList.length > 0 }" @drop="drop"
            @dragover="allowDrop"></div>

          <!-- 右边冷藏区 -->
          <div :id="areaType.RIGHT" class="area area_right" @drop="drop" @dragover="allowDrop"></div>
        </div>
        <!-- 最终结果 -->
        <div class="final" :class="{ 'hidden': !showFinalResult }">
          <div class="final_cold">
            <div>
              冷藏区放置：
              <span v-for='(item, index) in coldList'>
                <span :class="{ 'error_item': !correctColdList.includes(item) }">
                  {{ item }}
                </span>
                <i v-if='index === coldList.length - 1'>。</i>
                <i v-else>、</i>
              </span>
            </div>
          </div>
          <div class="final_variable">
            <div>
              变温区放置：
              <span v-for='(item, index) in variableList' style="display: inline-block;">
                <span :class="{ 'error_item': !correctVariableList.includes(item) }">
                  {{ item }}
                </span>
                <i v-if='index === variableList.length - 1'>。</i>
                <i v-else>、</i>
              </span>
            </div>
          </div>
          <div class="final_frozen">
            <div>
              冷冻区放置：
              <span v-for='(item, index) in frozenList' style="display: inline-block;">
                <span :class="{ 'error_item': !correctFrozenList.includes(item) }">
                  {{ item }}
                </span>
                <i v-if='index === frozenList.length - 1'>。</i>
                <i v-else>、</i>
              </span>
            </div>
          </div>
        </div>
        <div class="flower">
          <img src='./img_flower@2x.png' />
        </div>
      </div>

      <!-- 选择区域 -->
      <div class="selectArea">
        <div>
          <!-- 实时结果 -->
          <div class="result">
            <img src='./img_dialoguebox@2x.png' :class="{ 'display': showFinalResult }"/>
            <div class="result_text" v-if="!showFinalResult">
              <span v-if='draggedList.length === 0'>请把下面的食物拖动放置在冰箱的正确区域，不需要放进冰箱的留在原位即可。</span>
              <span v-else-if='result.isTrue'>Good，放置正确，{{ result.item }}应该放置在冰箱的{{ result.area }}。</span>
              <span v-else-if='needPlacedList.includes(result.item)'>Sorry，你放置错误了，{{ result.item }}应该放置在冰箱的{{ result.area }}哦。</span>
              <span v-else-if='canPlacedList.includes(result.item)'>Sorry，你放置错误了，{{ result.item }}应该放置在冰箱的{{ result.area }}哦。</span>
              <span v-else>{{ result.item }}不应该放进冰箱哦。</span>
            </div>
            <div class="result_text" v-else>
              <div style="display: inline-block;text-align: left;">
                未放进冰箱：
                <div v-for='(item, index) in notPlacedList' style="display: inline-block;">
                  <span :class="{ 'error_item': needPlacedList.includes(item) }">
                    {{ item }}
                  </span>
                  <i v-if='index === notPlacedList.length - 1'>。</i>
                  <i v-else>、</i>
                </div>
              </div>
            </div>
          </div>
          <!-- 选择区域 -->
          <div class="box" id='scorllBox'>
            <ul>
              <li v-for="(item, index) in foodList" :key="item.id" class="img_box" :id="`li${index}`">
                <img class="img_item" draggable="true" :src="`./${item.name}@2x.png`" :id="item.name"
                  @dragstart="drag" />
                <span class="img_item_tip">{{ item.name }}</span>
              </li>
            </ul>
          </div>
        </div>
      </div>

    </div>
    <!-- 生成图片按钮 -->
    <div class="dragPage__btn">
      <a id="exportImgLink" class="hidden" :download="exportName + '.png'">
        <img id="exportImg" class="export-img" alt="截图" />
      </a>

      <div class="imgBtn">
        <img style="left: 42%;" src='./result.png' @click="showFinalResult = true" />
        <img src='./btn@2x.png' @click="getImage" />
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.bootcdn.net/ajax/libs/html2canvas/0.5.0-beta4/html2canvas.min.js"></script>
  <script type="text/javascript" src="./foodList.js"></script>

  <script>
    const coupon = new Vue({
      el: '#dragPage',
      data: {
        isLoading: true,
        /* 图片相关 */
        exportName: '示范图', // 图片生成名称
        scale: 3, // 图片放大倍数

        /* 拖拽相关 */
        foodList: FOOD_LIST,
        areaType: AREA_TYPE,
        curItem: '', // 当前被拖动的元素
        draggedList: [], // 已经被拖动的元素

        /* 拖拽结果 */
        result: {
          isTrue: true,
          item: '',
          area: ''
        },
        showFinalResult: false, // 展示最后结果

        coldList: [], // 冷藏区内容
        variableList: [], // 变温内容
        frozenList: [], // 冷冻内容
      },
      computed: {
        correctColdList() {
          const list = []
          this.foodList.forEach(item => {
            if (item.area === this.areaType.COLD) {
              list.push(item.name)
            }
          })

          return list || []
        },
        correctVariableList() {
          const list = []
          this.foodList.forEach(item => {
            if (item.area === this.areaType.VARIABLE) {
              list.push(item.name)
            }
          })

          return list || []
        },
        correctFrozenList() {
          const list = []
          this.foodList.forEach(item => {
            if (item.area === this.areaType.FROZEN) {
              list.push(item.name)
            }
          })

          return list || []
        },
        // 需要放置的东西
        needPlacedList() {
          const list = []
          this.foodList.forEach(item => {
            const { COLD, VARIABLE, FROZEN } = this.areaType
            if ([COLD, VARIABLE, FROZEN].includes(item.area)) {
              list.push(item.name)
            }
          })

          return list || []
        },
        // 可以放进放置的东西（包含可放可不放的东西）
        canPlacedList() {
          const list = []
          this.foodList.forEach(item => {
            const { CASUAL } = this.areaType
            if ([CASUAL].includes(item.area)) {
              list.push(item.name)
            }
          })

          return list || []
        },
        // 最后没有放置的内容
        notPlacedList() {
          const list = []
          this.foodList.forEach(item => {
            if (!this.draggedList.includes(item.name)) {
              list.push(item.name)
            }
          })

          return list || []
        }
      },
      methods: {
        // 截图
        screenshot() {
          if (!this.showFinalResult) return
          const targetEle = document.querySelector('#dragPage')
          const scorllBox = document.querySelector('#scorllBox')

          // 获取当前屏幕尺寸
          const pageWidth = document.querySelector("html").offsetWidth
          const liNumber = pageWidth > 1600 ? 16 : 12
          const total = 36

          // 处理html2canvas中overflow失效问题
          document.querySelector('#scorllBox').style.height = 360
          if (scorllBox.scrollTop > 0) {
            document.querySelector('#scorllBox').scrollTop = 0
          }

          // 隐藏后面的内容
          for (i = liNumber; i < total; i++) {
            document.querySelector(`#li${i}`).style.display = 'none'
          }

          // 获取页面的高度和宽度
          const width = targetEle.offsetWidth
          const height = targetEle.offsetHeight

          // 创建一个canvas节点
          const newCanvas = document.createElement('canvas')
          const scale = this.scale // 放大倍数

          newCanvas.width = width * scale
          newCanvas.height = height * scale
          newCanvas.getContext("2d").scale(scale, scale)

          // html2canvas参数
          const options = {
            scale: scale,
            canvas: newCanvas,
            width: width,
            height: height,
            useCORS: true
          }

          html2canvas(targetEle, options).then((canvas) => {
            const exportImgLinkEle = document.querySelector('#exportImgLink')
            targetEle.src = canvas.toDataURL('image/png')
            exportImgLinkEle.href = canvas.toDataURL('image/png')
            exportImgLinkEle.click() // 执行 <a> 元素的下载

            // 下载完成后恢复原样
            for (i = liNumber; i < total; i++) {
              document.querySelector(`#li${i}`).style.display = 'unset'
            }
          })
        },

        /* 拖动相关内容 */
        drag(ev) {
          this.curItem = ev.target.id
          ev.dataTransfer.setData("text", ev.target.id)
        },
        allowDrop(ev) {
          ev.preventDefault()
        },
        drop(ev) {
          ev.preventDefault()
          this.draggedList.push(this.curItem)

          const data = ev.dataTransfer.getData("text")

          const { COLD, VARIABLE, FROZEN, RIGHT, CASUAL } = this.areaType
          const isNeedInverted = [VARIABLE, FROZEN].includes(ev.target.id)
          const MAX_NUMBER = 5

          if (ev.target.id === VARIABLE && this.variableList.length > MAX_NUMBER) return
          if (ev.target.id === FROZEN && this.frozenList.length > MAX_NUMBER) return

          // 防止叠加 以及 鲜牛奶放在格子里
          if (ev.target.className === 'img_item') {
            ev.target.parentNode.appendChild(document.getElementById(data))
          } else {
            document.getElementById(ev.target.id).appendChild(document.getElementById(data))
          }

          document.getElementById(this.curItem).draggable = false

          // 检查放置是否正确
          const target = this.foodList.find(item => item.name === this.curItem)
          let isTrue = target.area === ev.target.id

          if (target.area === COLD) {
            isTrue = [COLD, RIGHT].includes(ev.target.id)
          }

          this.result.isTrue = isTrue
          this.result.item = this.curItem
          this.result.area = target.area

          // 判断是否为可放可不放的东西
          if (target.area === CASUAL) {
            this.result.isTrue = [COLD, RIGHT].includes(ev.target.id)
            this.result.area = COLD
          }

          // 存放放置结果
          this.getResult(ev.target.id)
        },

        /* 存放拖拽结果 */
        getResult(area) {
          switch (area) {
            // 冷藏
            case this.areaType.COLD:
              this.coldList.push(this.curItem)
              break
            case this.areaType.RIGHT:
              this.coldList.push(this.curItem)
              break
            // 变温
            case this.areaType.VARIABLE:
              this.variableList.push(this.curItem)
              break
            // 冷冻
            case this.areaType.FROZEN:
              this.frozenList.push(this.curItem)
              break
            default:
              break
          }
        },

        /* 生成图片 */
        getImage() {
          this.screenshot()
        }
      },

      mounted() {}
    })
  </script>
</body>

</html>
